
.striped-border {
    border-bottom: 3px solid black;
    width: auto;
    height: 170px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
}

.striped-border img{
    float: left;
    width: 25%;
    position: relative;
	margin-bottom: 30px;
    height: 150px;
    overflow: hidden;
    margin-right: 20px;
    opacity: 1;
}

.striped-border img:hover{
    opacity: 0.5;
}

.striped-border h4{
    margin: 0 1.5%;
    color: white;
}

.striped-border h3{
    text-align: center;
    color: white;
}
